FOOTBALL_API_KEY=TEMPORARY_API_KEY_EXAMPLE
FOOTBALL_API_BASE_URL=https://api.football-data.org/v4

DATABASE_URL=postgresql://sportsuser:sportspassword@localhost:5432/exampleOnly

SECRET_KEY=mockSecretKeyExample